.destiny-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 0 24px;
}

.card-tokyo,
.card-osaka {
  width: 100%;
}

.card-tokyo header {
  height: 220px;
  background-image: url(../img/Tokyo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-osaka header {
  height: 220px;
  background-image: url(../img/Osaka.jpg);
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text h3 {
  font-size: 28px;
  font-weight: bold;
}

.text p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 24px;
}
.text a {
  width: 312px;
  height: 64px;
  padding: 0 24px;
}

@media screen and (min-width: 768px) {
  .destiny-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text a {
    width: 280px;
    height: 64px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {

  .tokyo,
  .osaka {
    width: 588px;
  }
  .card-tokyo {
    width: 588px;
    height: 290px;
  }

  .card-osaka {
    width: 588px;
    height: 290x;
  }
}
