@font-face {
  font-family: "Montserrat";
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/*propriedades Personalizaveis em CSS*/
:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;
  

  --text-primary-color: #000000;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/*CSS RESET*/
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

.section-titile h2 {
  text-align: center;
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
}

.section-titile hr {
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px auto 32px;
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--tittle-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-titile h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
  }
}
