.offer-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.card {
  text-align: center;
  padding: 24px 16px;
  color: var(--text-secondary-color);
  border-radius: 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
}

.card header {
  background-color: transparent;
  display: block;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  margin: 8px 0 0;
  font-size: 40px;
  font-weight: var(--tittle-weight);
}

.card header span {
  margin-top: 24px;
  font-size: 32px;
  display: inline-block;
}

.card.japao {
  background-image: url(../img/bg-card-japao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background-image: url(../img/bg-card-san-andreas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card.paraiba {
  background-image: url(../img/bg-card-paraiba.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card.manaus {
  background-image: url(../img/bg-card-manaus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offer-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card h3 header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
    height: 308px;
  }
}

@media screen and (min-width: 1920px) {
  .offer-cards {
    width: 1240px;
    margin: 0 auto;
  }
}
