@font-face {
  font-family: "Montserrat";
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/*propriedades Personalizaveis em CSS*/
:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  color: var(--primary-color);
}
header{
   background-color: var(--background-tertiary-color); 
}